/*#05 属性セレクタを使ってみよう*/
/*
セレクタ
詳細度
  (a) style=''
  (b) id
  (c) 属性/擬似クラス
  (d) 要素/擬似要素
*/

/* 0, 0, 0, 1*/
a {color:skyblue !important;}
/* 0, 0, 1, 1*/
a.link {color:pink;}
/* 0, 0, 1, 1*/
a.search {color:orange;}
/* 0, 1, 1, 1*/
a#site{color:blue}
