/*
border
border-color:
border-width:
border-style: solid/dotted/dashed/double/inset/outset
*/
div {
  /*border-color:orange;
  border-width:4px;
  border-style:dotted;*/
  /*border:orange 4px dotted;*/
  border-bottom:orange 4px dotted;*/
}
